:root{
    --text-color: #f1f7f8;
    --background-color: #141b24f6;
    --accent-color: rgb(196, 137, 48);
}
body{
    margin:0;
    background-color: var(--text-color);
}
nav{
    font-family: 'Rubik Bubbles', cursive;
    position: sticky;
    top: 0;
}
a{
    text-decoration: none;
    color:var(--text-color);
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--background-color);
    padding: 8px 12px;
}
.navbar_logo{
    font-size: 24px;
    color: var(--text-color);
}
.navbar_logo i{
    color: var(--accent-color);
} 
.navbar_menu{
    display:flex;
    list-style: none;
    padding-left: 0px;

}
.navbar_menu li{
    padding: 8px 12px;
}
.navbar_menu li:hover{
    background-color:var(--accent-color) ;
    border-radius: 4px;
}
.navbar_icons{
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0px;
}
.navbar_icons li{
    padding: 8px 12px;
}
.navbar_toogleBtn{
    display: none;
    position: absolute;
    right:32px;
    font-size:24px;
    color: var(--accent-color);
}
@media screen and (max-width:768px) {
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
    }
    .navbar_icons{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_toogleBtn{
        display:block;
    }
    .navbar_menu.active,
    .navbar_icons.active{
        display: flex;
    }
}
.container{
    padding: 3rem;
    background-color:var(--text-color);
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    grid-gap:1rem;
    grid-template-areas: 
        'a a a'
        'b c c'
        'b d e'
        'f g e'
        'h i i';
}
.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image1{
    grid-area: a;
}
.image2{
    grid-area: b;
}
.image3{
    grid-area: c;
}
.image4{
    grid-area: d;
}
.image5{
    grid-area: e;
}
.image6{
    grid-area: f;
}
.image7{
    grid-area: g;
}
.image8{
    grid-area: h;
}.image9{
    grid-area: i;
}
footer{
    text-align: center;
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 24px;

}